*,
*::before,
*::after{

  padding: 1px;
  margin: 1px;
  
  box-sizing: border-box;

}

html{
  border: 3px solid red;


}

body{
  border: 3px solid green;

}



.flex-container{
  border: 3px solid blueviolet;
  height: 950px;

  display: flex;
  justify-content:space-between;

}

.left-sidebar,
.right-sidebar{
  display: flex;
  border: 3px solid orange;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}


.mid-content{
  display: flex;
  border: 3px solid orange;

  flex-wrap: wrap;
}

.mid-top-content,
.mid-bottom-content{
  display: flex;
  flex: auto;

  align-items: center;
}

.mid-top-content{
  align-items: flex-start;
}

.mid-bottom-content{
  align-items: flex-end;
}


.flex-item{
  width: 200px;
  height: 200px;

  border: 3px solid purple;
  background-color: plum;

  text-align:center;

  flex: auto;
  
}



.flex-item-1{

  

}

.flex-item-2{


}


.flex-item-3{


}


.flex-item-4{


  order: -1;

}

.flex-item-5{

  

}


.flex-item-6{

 

}

.flex-item-7{



}

.flex-item-8{



}

.flex-item-9{



}

.flex-item-10{



}

.flex-item-11{



}

.flex-item-12{



}