*,
*::before,
*::after{

  padding: 1px;
  margin: 1px;
  
  box-sizing: border-box;
  border: 1px solid blueviolet;

}

.wrapper{
  display: flex;
  justify-content: flex-end;
  /* width: 800px; */
}



.wrapper-item{
  width: 200px;
  height: 200px;
  text-align: center;
}


.wrapper-item-1{
  flex: 1 1 auto;
}


.wrapper-item-2{
  /* margin-left: auto;
  margin-right: auto; */

  flex: 6 1 auto;

}



.wrapper-item-3{
  flex: 1 1 auto;
}

