

h1{
    color:red;
    background-color: black;
}

p{
    color: yellow;
}

img{
    width: 500px;
    height: auto;
}

body{
    background-color: rgba(0, 255, 255, 1);
    background-image: url("./images/dog.jpg");
    background-repeat: no-repeat;
}

.intro-text{

    color: blue;

}

